<div class="container mt-4 pb-2 border-bottom index_title">
  <i class="fas fa-book sub_title"></i>
  <%= @current_directory_name %>
</div>

<% @documents.each do |document| %>
<div class="container border-bottom">
  <div class="row">
    <div class="col-9 row my-4">
      <div class="col-7">
        <span class="documents_title"><%= link_to document.title.truncate(15), document, class: "text-decoration-none" %></span>
      </div>
      <div class="col-5">
        <span>
          <%= link_to edit_document_path(document), class: "text-decoration-none" do %>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-pen"></i>
            <span class="ml-2">編集</span>
          </button>
          <% end %>
          <%= link_to document_path(document), method: :delete, data: { confirm: "ドキュメントを削除してもよろしいですか？" } do %>
          <button type="button" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            <span class="ml-2">削除</span>
          </button>
          <% end %>
        </span>
      </div>
    </div>
    <div class="col-3 d-flex flex-column justify-content-center">
      <div>作成者:<%= document.writer.name %></div>
      <div>更新日:<%= document.updated_at.strftime('%Y年%m月%d日') %></div>
    </div>
  </div>
</div>
<% end %>
<%= paginate @documents %>
