<%= form_with model:document, local: true, id: "form" do |f| %>
  <div class="row">
    <div class="col-12">
      <div class='form-group mt-3 pr-3'>
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: 'form-control form-title', value: value_text %>
        <p style="color: red;"></p>
      </div>
    </div>
  </div>
  <div class="row document_body pr-3">
    <div class="col-6 border-right">
      <div class='form-group'>
        <%= f.label :本文 %>
        <%= f.text_area :body, rows: 10, class: 'form-control input_body', id: 'markdown_editor_textarea', placeholder: '本文を書いていきましょう' %>
      </div>
      <div class='form-group'>
        <%= f.label :画像を添付 %>
        <%= f.file_field :image, multiple: true, id: 'image' %>
      </div>
      <div class="text-right">
        <%= f.submit class: 'btn btn-primary create_docuent_button' %>
      </div>
    </div>
    <div class="col-6">
      <div>プレビュー</div>
      <div id="markdown_preview" class="preview border mt-2"></div>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'documents/validation.js' %>
