<%= javascript_pack_tag 'documents/index' %>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render partial: "layouts/sidebar", locals: { user_directories: @user_directories } %>
    </div>
    <div class="col-6">
      <div id="directory_document"></div>
    </div>
  </div>
</div>

<% @documents.each do |document| %>
<div class="container">
  <div class="row  border-end border-top mt-4 pt-3 pb-0">
    <div class="col col-8">
      <p><%= document.user_directory.name %></p>
      <h2><%= document.title %></h2>
    </div>

    <div class="col col-4 text-center">
      <div class="pt-3">作成日:<%= document.created_at.strftime('%Y年%m月%d日') %></div>
      <div class>更新日:<%= document.updated_at.strftime('%Y年%m月%d日') %></div>
    </div>
  </div>
</div>
<% end %>