<div class="row h-100">
  <div class="col col-1">
    <%= render partial: "layouts/documents_sidebar" %>
  </div>
  <div class="col col-11">
    <div class="container">
      <div class="row border-bottom mt-5 pb-3">
        <div class="col col-8">
          <div class="pb-2">
            <%= @directory.join("/") %>
          </div>
          <h1>
            <%= @document.title %>
          </h1>
        </div>
        <div class="col col-4 text-center">
          <div class="pt-3">
            作成日:<%=  @document.created_at.to_s(:datetime_jp) %>
          </div>
          <div>
            更新日:<%=  @document.updated_at.to_s(:datetime_jp) %>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <div id="content"></div>
          <div id="mdraw" class="d-none">
            <%= @document.body %>
          </div>
        </div>
      </div>
    </div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
</div>
<%= javascript_pack_tag 'documents/show' %>