<div class="container">
  <div class="row border-bottom mt-5 pb-3">
    <div class="col col-8">
      <div class="pb-2">
        <%= @directory.join("/") %>
      </div>
      <h1 class="d-inline">
        <%= @document.title %>
      </h1>
      <% if @document.writer_id == current_user.id %>
        <%= link_to edit_document_path, class: "text-decoration-none" do %>
          <i class="fas fa-pen fa-2x pb-1 ml-2"></i>
        <% end %>
          <%= link_to document_path(@document), method: :delete, data: { confirm: "ドキュメントを削除してもよろしいですか？" } do %>
        <i class="fas fa-trash-alt fa-2x pb-1 ml-2"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col col-4 text-center">
      <div class="pt-3">
        作成日:<%=  @document.created_at.to_s(:datetime_jp) %>
      </div>
      <div>
        更新日:<%=  @document.updated_at.to_s(:datetime_jp) %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div id="content"></div>
      <div id="mdraw" class="d-none"><%= @document.body %></div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'documents/show' %>
