<ul class="directory">
  <li class="item">
    <%= link_to user_directories.name, documents_path, class: "link_color item__link js-directory__item__link" %>
    <ul class="directory_children area">
      <li class="item">
        <%= link_to "子ディレクトリ1", documents_path, class: "link_color item__link js-directory__item__link" %>
        <ul class="directory_grandson area">
          <li class="item">
            <%= link_to "孫ディレクトリ1", documents_path, class: "link_color item__link js-directory__item__link" %>
            <ul class="directory_great_grandson area">
              <li class="item">
                <%= link_to "曾孫ディレクトリ1", documents_path, class: "link_color item__link js-directory__item__link" %>
                <ul class="directory_great_great_grandchild area">
                  <li class="item">
                    <%= link_to "玄孫ディレクトリ", documents_path, class: "link_color item__link" %>
                  </li>
                </ul>
              </li>
              <li class="item">
                <%= link_to "曾孫ディレクトリ2", documents_path, class: "link_color item__link" %>
              </li>
            </ul>
          </li>
          <li class="item">
            <%= link_to "孫ディレクトリ2", documents_path, class: "link_color item__link" %>
          </li>
          <li class="item">
            <%= link_to "孫ディレクトリ3", documents_path, class: "link_color item__link" %>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
