<ul class="directory">
  <li class="directory__item">
    <%= link_to "親ディレクトリ", documents_path, class: "directory__item__link js-directory__item__link" %>
    <ul class="directory_children">
      <li class="directory_children__item">
        <%= link_to "子ディレクトリ1", documents_path %>
        <ul class="directory_grandson">
          <li class="directory_grandson__item">
            <%= link_to "孫ディレクトリ1", documents_path %>
            <ul class="directory_great_grandson">
              <li class="directory_great_grandson__item">
                <%= link_to "曾孫ディレクトリ1", documents_path %>
                <ul class="directory_great_great_grandchild">
                  <li class="directory_great_great_grandchild__item">
                    <%= link_to "玄孫ディレクトリ", documents_path %>
                  </li>
                </ul>
              </li>
              <li class="directory_great_grandson__item">
                <%= link_to "曾孫ディレクトリ2", documents_path %>
              </li>
            </ul>
          </li>
          <li class="directory_grandson__item">
            <%= link_to "孫ディレクトリ2", documents_path %>
          </li>
          <li class="directory_grandson__item">
            <%= link_to "孫ディレクトリ3", documents_path %>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="directory_children">
      <li class="directory_children__item">
        <%= link_to "子ディレクトリ2", documents_path %>
        <ul class="directory_grandson">
          <li class="directory_grandson__item">
            <%= link_to "孫ディレクトリ2-1", documents_path %>
          </li>
          <li class="directory_grandson__item">
            <%= link_to "孫ディレクトリ2-2", documents_path %>
          </li>
          <li class="directory_grandson__item">
            <%= link_to "孫ディレクトリ2-3", documents_path %>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
